.btn-container .btn-block {
    width: 100%;
}

.btn-container .btn-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn-container .btn-group .btn {
    flex: 1;
    margin: 0 5px;
    max-width: 180px;
}

@media (max-width: 768px) {
    .btn-container .btn-group .btn {
        max-width: 100%;
        margin-bottom: 10px;
        padding: .3125rem .625rem;
    }
    
    .btn-container .btn-group a, .btn-container .btn-group button {
        font-size: 0.65em !important;
    }
}